html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.gradient-bg {
  background-color: #ffece2c9;
  background-image: linear-gradient(56deg, #fff0e8 0%, #fff5db 100%);
}

.praying-bg {
  background-image: url("../public/img/praying-hands.webp");
  background-size: cover;
}
.singing-bg {
  background-image: url("../public/img/singing.webp");
  background-size: cover;
}

.post-list-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 15px;
  padding-top: 150px;
}
.container-ku{
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 15px;
  padding-top: 10px;
}

.post {
  max-width: 33%;
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  color: #272727;
  cursor: pointer;
  text-align: left;
}

.post-img {
  flex: 1;
  margin-right: 20px;
  margin-top: 5px;
}

.post-img img {
  border: 1px solid #fafafa;
  border-radius: 0px;
}

.post-img:hover {
  transform: scale(1.01);
  filter: brightness(0.75);
}

.post-details {
  flex: 4.5;
}

.post-details .title {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.post-details .excerpt {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.post-details .published-at {
  font-size: 14px;
  color: #5a5a5a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Blog Post */

.post-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  color: #2c2c2c;
  border-top: 1px solid #dbdbdb;

  
}

.post-content {
  padding-top: 60px;
  /* padding-left: 5px;
  padding-right: 5px; */
  max-width: 900px;
  text-align: justify;
  margin: 0 20px;
  width: 100%;
  padding: 10px;

}

.post-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.author-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 16px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 24px;
}
.category {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.author {
  font-weight: 600;
}

.post-main-image {
  margin-bottom: 20px;
}

.post-text p,
.post-text li,
.post-text h2,
.post-text h3,
.post-text blockquote {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.post-text h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 30px;
}

.post-text h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 30px;
}

.post-text p {
  font-size: 18px;
  line-height: 28px;
}

.post-text li {
  font-size: 18px;
  line-height: 28px;
  margin-left: 20px;
  list-style-type: disc;
  margin-bottom: 15px;
}

blockquote {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}
@media screen and (max-width: 500px) {
  .post-list-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    padding: 2px 5px;
    padding-top: 20px;
    margin-bottom: 20px;
   
  }
  .container-ku{
    margin-top: 50px;
 
  }
  .blog-ku{
    background-color: #fafafa;
  }

.post {

  min-width: 350px;
  height: 130px;
  padding:10px;
  background-color: #fff;
  box-shadow:  0 0rem 0.2rem rgb(151, 150, 150); 
  display: flex;
  text-align: start;
  

}
.post-img {
  min-width: 220px;
  max-width: 100px;
  height: 120px;
  /* transform: translateY(-6rem); */
  position: relative;
  object-fit: cover;
}

.post-img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.post-img::before {
  content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(
      to right,
      rgba(79, 172, 254, 0.8),
      rgba(0, 242, 254, 0.8)
    ); */
    /* box-shadow: 0.1rem 0.1rem 1rem 0px rgba(0, 0, 0.05); */
    /* border-radius: 0.8rem; */
}

 .published-at {
  font-size: 14px;
  color: #5a5a5a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* margin-left: 120px; */
  text-align: center;


}

.post-details .published-at {
  font-size: 14px;
  color: #5a5a5a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin-left: 120px;
}
.post-details .title {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  text-align: start;
  margin-left: 190px;
  margin-top: -120px;
}
.respon{

  width: fit-content;
}


}